# Dépendances
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environnement
.env.local
.env.development
.env.test
.env.production

# Build
.next
out
dist

# Version control
.git
.gitignore
.github

# IDE
.idea
.vscode
*.swp
*.swo

# Autres
README.md
*.md
.DS_Store 